<table class = "table table-condensed table-striped table-bordered" id = "daily_notes">
  <thead>
    <tr>
      <th style = "width: 100px;">
        Date
      </th>
      <th>
        Note
      </th>
    </tr>
  </thead>
  <tbody>
    <% @notes.each do |note| %>
      <tr>
        <td>
          <%= note.created_at.in_time_zone(@time_zone).to_date.strftime("%b %d, %Y") %>
        </td>
        <td>
          <%= note.content %>
        </td>
      </tr>
    <% end %>  
  </tbody>
</table>

