<form>
  <div class = 'row-fluid'>
    <div class = "span4">
      <div class = 'sprint_med_button'><a href = "#" id = "finish_sprint">Finish</a></div>
    </div>
    <div class = "span4">
      <div class = 'sprint_med_button'><a href = "#" id = "add_time">Add Time</a></div>
    </div>
    <div class = "span4">
      <div class = 'sprint_med_button'><a href = "#" id = "manual">Manual</a></div>
    </div>
  </div>
</form>
