<%= form_tag({:controller => "sprints", :action => "create"}, method: :post, :class => "big_h_margin", style: 'margin-bottom:35px;', id: 'before_sprint') do %>
  <label class = "inline">Duration: </label><input type = "text" id = "sprint_duration" name = "sprint[duration]" class = "input integer"/>
  <br/>
  <label class = "inline">Intention: </label><textarea id = "sprint_intention" name = "sprint[intention]" class = "textarea textarea_short inline" style = "width:80%;"></textarea>
  <br />
  <input class="button float_right" name="commit" type="submit" value="Create Sprint" style = 'margin-right:10px;'>
<% end %>




  
