<%= form_tag({:controller => "sprints", :action => "update", id: "51a8fca7cbffe6731b00001b"}, id: 'during_sprint', :method => "put", :class => "big_h_margin display_none", style: 'margin-bottom:35px;') do %>

<div class = 'row-fluid'>
  <div class = "span3">
    <div class = 'sprint_med_button'><a href = "#" id = "loss_of_focus">+ Loss of Focus</a></div>
  </div>
  <div class = "span3">
    <div class = 'sprint_med_button'><a href = "#" id = "interruption">+ Interruption</a></div>
  </div>
  <div class = "span3">
    <div class = 'sprint_med_button'><a href = "#" id = "add_process">+ Process</a></div>
  </div>
  <div class = "span3">
    <div class = 'sprint_med_button'><a href = "#" id = "pause_sprint">Pause</a></div>
  </div>
</div>

<% end %>

