<h3 style = 'text-align:center'> Sprints </h3>
</div>
<div id="graph_percentage_complete" style="height: 350px; width: 400px;display:inline-block;"></div>
<div id="graph_duration" style="height: 350px; width: 400px;display:inline-block;"></div>
<div></div>
<div id="graph_focus_intensity" style="height: 350px; width: 400px;display:inline-block;"></div>
<div id="graph_happiness" style="height: 350px; width: 400px;display:inline-block;"></div>

<script>

  
  graphStuff = {
    xAxisDateLabels: function(graph_info){
      dates = eval("graph_info." + graph_info.current_filter + "s_dates")  ;
      return dates ;
    },
    xAxisDateLabelsLength: function(graph_info){  
      return graphStuff.xAxisDateLabels(graph_info).length  
    },
    
  }
  
  $(function () {
  
     graphs.processGraphData()
     
  });

</script>

