<% content_for :head do %>
  <%= javascript_include_tag 'sprint' %>
<% end %>
<h3 style = 'text-align:center'> New Sprint </h3>

<%= render 'form' %>
<% @notes.each do |n| %>
  <%= render :partial => 'notes/form', :locals => {:note => n} %>
<% end %>
