<h3 style = 'text-align:center'> New Sprint </h3>

<%= render 'before_sprint_form' %>
<%= render 'during_sprint_form' %>

<div name="sub_processes"></div>

<% @notes.each do |n| %>
  <%= render :partial => 'notes/form', :locals => {:note => n} %>
<% end %>

<div id="sprint_duration_end" style = "display:none" class = 'light_box'>
  <div class = 'modal_x_icon'><a>X</a></div>
  <%= render 'after_sprint_forms' %>
</div>

<script>

  $(function(){
    sprint = new Sprint ;
    
    //hide note submit buttons on sprint views
    $('form.note input[name="commit"]').addClass('display_none')
    
    $('form#sprint_reminder_notes').addClass('display_none') ;
    
    $('input[value="Create Sprint"]').click(function(e){
      e.preventDefault() ;
      //Close any flash messages before proceeding
      if ($('div.alert a.close').length > 0)
        $('div.alert a.close').trigger('click')
      var duration = $('#sprint_duration').val() ;
      sprint.duration = duration++ ; 
      var url = '/sprints' ;
      ajax.submitSprintForm('Post', url, $(e.target).parent('form').attr('id')) ;
      $('form#before_sprint').remove() ;
      $('h3').html('During Sprint');
      $('form#during_sprint').removeClass('display_none') ;
      $('form#sprint_notes').addClass('display_none') ;
      $('form#sprint_reminder_notes').removeClass('display_none') ;
      sprints.timer.setTimes(sprint) ;
      sprints.timer.setTimer(sprint) ;
    });
    
    $('a:contains("+ Loss of Focus")').click(function(){
      sprint.incrementLossOfFocus() ;  
      sprint.change_cycle_text() ;
    });
    
    $('a:contains("+ Interruption")').click(function(){
      sprint.incrementInterruption(); 
      sprint.change_cycle_text() ;
    });
    
    $('a:contains("+ Process")').click(function(e){
      e.preventDefault() ;
      var container_div = subProcessElements.createNewSubProcess();
      subProcessElements.createBindings(container_div);
    });
    
    $('form#during_sprint a:contains("Pause")').click(function(e){
      var $link = $(e.target) ;
      var cur_text = $link.text() ;
      sprints.toggle_pause_button_text($link,cur_text) ;
      sprints.pauseFunctions.storePauseInfo(cur_text, sprint) ;
      clearTimeout(sprint.sprint_timer) ;
      if (cur_text == 'Resume'){
        sprints.addTime(sprint,sprint.pause_duration)
        sprints.resetTimer(sprint) ;
      }
    })
    
    $('a#add_time').click(function(){
      $('form#on_sprint_completion').css('display','none') ;
      $('form#add_time').css('display','block') ;
    })
    
    $('form#add_time input.button').click(function(e){
      e.preventDefault() ;
      sprints.onAddTime(sprint) ;
    })
    
    $('a#finish_sprint').click(function(){
      sprints.assessSprint() ;
    })
    
    $('form#assess_sprint input.button').click(function(e){
      e.preventDefault() ;
      sprints.atSprintCompletion(sprint) ;
    })
  })

</script>
