<h3 style = 'text-align:center'> New Sprint </h3>

<%= render 'before_sprint_form' %>
<%= render 'during_sprint_form' %>

<div name="sub_processes"></div>

<% @notes.each do |n| %>
  <%= render :partial => 'notes/form', :locals => {:note => n} %>
<% end %>

<div id="sprint_duration_end" style = "display:none" class = 'light_box'>
  <div class = 'modal_x_icon'><a>X</a></div>
  <%= render 'after_sprint_form' %>
</div>

<script>

  $(function(){
  
    sprint = new Sprint ;
    
    //hide note submit buttons on sprint views
    $('form.note input[name="commit"]').addClass('display_none')
    
    $('#during_sprint').submit(function(event){
        event.preventDefault();
        if (typeof sprint.id != 'undefined'){
          submit_sub_process_data.call( event.target, "PUT", sprint.id ) ;
        }
        else {
          console.log ('The update of sprint did not succeed because sprint.id was not yet defined') ;
        }
  
    })
    
    $('form#sprint_reminder_notes').addClass('display_none') ;
    
    $('input[value="Create Sprint"]').click(function(e){
      e.preventDefault() ;
      var duration = $('#sprint_duration').val() ;
      sprint.duration = duration++ ;
      submit_sprint_form('Post','/sprints', $(e.target).parent('form').attr('id'))
      $('form#before_sprint').remove() ;
      $('h3').html('During Sprint');
      $('form#during_sprint').removeClass('display_none') ;
      $('form#sprint_notes').addClass('display_none') ;
      $('form#sprint_reminder_notes').removeClass('display_none') ;
      sprints.timer.setTimes(sprint) ;
      sprints.timer.setTimer(sprint) ;
    });
    
    $('a:contains("+ Loss of Focus")').click(function(){
      sprint.incrementLossOfFocus() ;  
      sprint.change_cycle_text() ;
    });
    
    $('a:contains("+ Interruption")').click(function(){
      sprint.incrementInterruption(); 
      sprint.change_cycle_text() ;
    });
    
    $('a:contains("+ Process")').click(function(e){
      e.preventDefault() ;
      var container_div = subProcessElements.createNewSubProcess();
      subProcessElements.createBindings(container_div);
    });
    
    $('form#during_sprint a:contains("Pause")').click(function(e){
      var $link = $(e.target) ;
      var cur_text = $link.text() ;
      sprints.toggle_pause_button_text($link,cur_text) ;
      sprints.pauseFunctions.storePauseInfo(cur_text, sprint) ;
      clearTimeout(sprint.sprint_timer) ;
      if (cur_text == 'Resume'){
        sprints.pauseFunctions.resetTimer(sprint) ;
        sprint.end_time = commonUtils.timeFunctions.addMinutesAndCreateNewDate(sprint.end_time, sprint.pause_duration) ;
      }
    })
    
  })

</script>
