.float_left {
  float:left;
}

.float_right {
  float:right;
}

.input.integer{
  width:25px;
}

.inline {
  display:inline;
}

.textarea_short {
  height:50px;
}

.clear_both {
  clear:both;
}

.clear_right {
  clear:right;
}

.clear_left {
  clear:left;
}

.block {
  display:block;
}

.textarea{
  width:99%;
}

.textarea_med_short{
  height:150px;
}

.display_none {
  display:none;
}

h3, h2, h1, h4{
  color: #999999;
}
body {
  color: #777777;
}

a.disabled {
  pointer-events: none ;
  cursor: default
}
