div.navbar div.navbar-inner a.brand{
  font-size: 26px !important;
  text-shadow: 2px 2px 4px #66A366;
  color: #777777 !important ;
}

div.navbar div.navbar-inner a.brand:hover{
  color: #777777 !important ;
  text-shadow: 2px 2px 4px #85B585;
}
