<div class="navbar">
  <div class="navbar-inner">
  	
    <a class="brand" href="">YouSprints</a>
    <!--<div class = 'nav-collapse'>-->
      <div class = "pull-right">
      <ul class="nav">
        <!--<li class="active"></a></li>-->
        <% if controller_name == 'landing' && action_name == 'index' %>
            <form accept-charset="UTF-8" action="/users/sign_in" id="new_user" method="post" novalidate="novalidate" style = "display:inline;"></form>
        <% end %>
        <% if current_user %>
          <% if controller_name != 'landing' && action_name != 'index' %>
            <li><%= link_to 'Daily Notes', notes_path %></li> 
          <% end %>
          <% if controller_name != 'landing' %>
            <li><%= link_to 'Home', root_path %></li>
          <% end %>
          <li><%= link_to 'Log Out', destroy_user_session_path, method: :delete %></li>
        <% else %>
          <li><%= link_to 'Register', new_user_registration_path %></li>
        <% end %>
      </ul>
      </div>
    <!--</div>-->
    <!---<form class="navbar-form pull-right">
			<input type="text" class="span2">
			<button type="submit" class="btn">Submit</button>
		</form>-->
  </div>
</div>
